@import "../../index.scss";
.about-section {
  background-color: $light-pistachio-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  // min-height: 100vh;

  .about-container {
    width: 80%;
    min-width: 20rem;
    display: flex;
    gap: 2rem;
    // border: 2px solid red;
    flex-wrap: wrap;
    margin: auto;

    .about-image-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img {
        max-width: 33%;
        height: auto;
      }
    }
    .about-text-container {
      padding: 1rem;
      flex-grow: 1;
      h1 {
        font-size: 4rem;
        color: $header-green;
        font-family: $font-regular;
        padding-bottom: 2rem;
      }
      p {
        font-size: 1.8rem;
        font-family: $font-regular;
        padding-bottom: 1rem;
      }
    }
  }
}
