@import "../../index.scss";

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 8rem 0;
  background-color: $background-green;
  h1 {
    font-family: $font-regular;
    color: $medium-green;
    font-size: 4.6rem;
    padding-bottom: 4rem;
  }

  .facts-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    .single-fact {
      background-color: $light-pistachio-green;
      // height: 12rem;
      min-height: 14rem;
      padding: 1rem;
      position: relative;
      .fact-title {
        gap: 0.1rem;
        h3 {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          color: $medium-green;
          font-family: $font-regular;
          font-weight: 400;
          font-size: 1.8rem;
          padding-bottom: 0.5rem;
        }
      }
      p {
        color: $medium-green;
        font-family: $font-regular;
        font-size: 1.2rem;
      }
      .needle {
        position: absolute;
        top: 0;
        right: 0;
        color: $medium-green;
        font-size: 2rem;
      }
    }
  }
  @media screen and (max-width: 50.4em) {
    .facts-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 27.25em) {
    .facts-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media screen and (max-width: 25em) {
    h1 {
      font-size: 4.2rem;
    }
  }
}
