@import "../../index.scss";

.plants {
  background-color: $light-pistachio-green;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding-bottom: 4rem;

  .container-center {
    width: 90%;
    min-width: 50rem;

    h1 {
      color: $header-green;
      font-family: $font-regular;
      text-align: center;
      padding: 4rem 0;
      font-size: 3.2rem;
    }
    .subtitle {
      color: $medium-green;
      text-align: center;
      padding-bottom: 4rem;
    }
    .plants-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.4rem;

      .single-plant {
        display: flex;
        gap: 1rem;
        background-color: $background-green;
        padding: 1rem;

        .plant-image-container {
          height: 100%;

          img {
            object-fit: cover;
            width: 14rem;
            min-width: 10rem;
            height: 100%;
          }
        }
        .plant-info-container {
          border-left: 0.2rem solid $light-pistachio-green;
          padding-left: 0.5rem;
          h2 {
            font-family: $font-regular;
            color: $header-green;
            padding-bottom: 0.2rem;
          }
          h3 {
            color: $medium-green;
            font-family: $font-cursive;
            font-style: italic;
            font-weight: 400;
            padding-bottom: 1rem;
          }
          .single-info {
            padding-bottom: 0.3rem;
            border-bottom: 0.2rem solid $light-pistachio-green;
            padding: 0.2rem;

            .plant-icon {
              color: $medium-green;
              font-size: 1.6rem;
            }
            p {
              font-family: $font-regular;
              color: $header-green;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .button-container {
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .type-btn {
      background-color: $medium-green;
      color: $light-pistachio-green;
      border: none;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: $header-green;
      }
    }
  }
  @media screen and (max-width: 54em) {
    .container-center {
      .plants-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }
    }
  }
  @media screen and (max-width: 34em) {
    .container-center {
      .plants-section {
        .single-plant {
          flex-direction: column;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}
