@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Cookie&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Prata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 57.25em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 37.5em) {
  html {
    font-size: 47%;
  }
}

// Color variables

$medium-green: #738444;
$dark-green: #092419;
$header-green: #2f3a0f;
$pistachio-green: #a7ba70;
$light-pistachio-green: #e8f3c4;
$background-green: #edf6cf;

//Font variables

$font-regular: "PlayFair Display", serif;
$font-cursive: "PlayFair Display", cursive;
